@import "./fonts.css";

.homeMain {
    background-image: url("../images/homeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.homeMainEffect {
    width: 100%;
    height: 100%;
    opacity: 100%;
    background: radial-gradient(#0000003c, #0000006a);
    background-color: #00000066;
    z-index: 1;
}

body {
    background-color: #10112c;
    margin:0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.homeNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10vw;
    color: #ffffff;
    background-color: #0000009b;
}

.homeNavMenu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.homeNavMenu li {
    font-family: "WarhavenL";
    font-size: large;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
}

.homeNavMenu li:not(:nth-child(3)):hover {
    color: #ffffff;
    background-color: #a2b4c08f;
    border-radius: 4px;
}

.homeNavMenu li > img{
    width: 30px;
}

.homeNavLogo {
    font-family: "WarhavenB";
    font-size: xx-large;
    font-weight: 400;
}


.homeTitleBox{
    width: 100%;
    height: fit-content;
    margin: 12.5% auto 0 auto;
    color: #ffffff;
    text-align: center;
}

.homeTitleBox > h1{ 
    font-size: xxx-large;
    font-family: "WarhavenB";
    color: #ffffff;
    text-align: center;
    filter: drop-shadow(10px 10px 15px #000000);
}


.homeTitleBox > span{
    color: #dbdbdb;
    font-size: large;
    font-family: "WarhavenL";
    filter: drop-shadow(10px 10px 15px #000000);
}

.homeGoToStoryBtn{
    display: block;
    color: #ffffff;
    margin: 8vh auto;
    width: 10vw;
    height: 5vh;
    border-radius: 8px;
    font-size: medium;
    border:none;
    background-color: #5172a7c5;
    font-family: "WarhavenB";
    filter: drop-shadow(10px 10px 15px #000000);
}

.homeGoToStoryBtn:hover{
    background-color: #2c3e5bc5;
}