@import "./fonts.css";

body{
    width: 100%;
    height: 100vh;
    display: fixed;
}

.loadingContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.loadingContainer h1{
    color:#ffffffc1;
    font-size: larger;
}

.loadingMain{
    margin-top: 10vh;
    width: 500px;
    height: 500px;
    text-align: center;
    font-family: "WarhavenB";
}

.loadingMain img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.wrapper {
    height: 10vh;
    display: grid;
    place-items: center;
  }
  
.typing-demo {
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    
    animation: typing 6s steps(19) infinite, 
               blink .8s step-end infinite;
  }
  
@keyframes typing {
    0% { width: 0; }
    30% { width: 19ch; }
    100% { width: 19ch; } 
  }
  
@keyframes blink {
    50% { border-color: transparent; }
  }
  