@import url('../css/fonts.css');

.wave-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 20% auto 10% auto;
}

.circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #5257b880;
    animation: wave 1.8s infinite ease-out;
}

.circle:nth-child(2) {
    animation-delay: 0.6s;
    border-color: #6a6fd999;
}

.circle:nth-child(3) {
    animation-delay: 1.2s;
    border-color: #8288fa66;
}

@keyframes wave {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }

    100% {
        transform: scale(2.3);
        opacity: 0;
    }
}

#file-input {
    display: none;
}

.upload-label {
    background: linear-gradient(135deg, #3A3E80, #5257B8);
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: 0.3s;
    box-shadow: 0px 4px 10px #5257b866;
}

.upload-label:hover {
    background: linear-gradient(135deg, #5257B8, #6A6FD9);
    box-shadow: 0px 6px 15px #6a6fd999;
}

.upload-label>img {
    width: 150px;
    height: 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


.textBox {
    position: absolute;
    width: fit-content;
    left: 50%;
    top : 80%;
    text-align: center;
    border-radius: 5px;
    font-family: 'WarhavenL';
    font-size: 0.65em;
    padding: 0 16px;
    font-weight: 100;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    transform: translate(-50%, 0%);
    color: #ffffffbf;
}

.selectedFile{
    position: relative;
    width: fit-content;
    top: -5vh;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    font-family: 'WarhavenL';
    font-size: 1.25em;
    padding: 0 16px;
    font-weight: 100;
    background-color: #ffffff24;
    backdrop-filter: blur(8px);
    border-radius: 5px;
    color: #ffffffbf;
}

.submitFile{
    display: block;
    color: #ffffff;
    margin: 8% auto;
    width: 10vw;
    height: 5vh;
    border-radius: 8px;
    font-size: medium;
    border:none;
    background-color: #5172a7c5;
    font-family: "WarhavenB";
    filter: drop-shadow(10px 10px 15px #000000);
}